.exam
    background: #E9E9E9
    min-height: 100vh
    padding-bottom: 3rem

    &__title-text
        font-size: 3rem
        font-weight: 300
        color: #3F3F3F
        margin: 3rem

    &__image
        text-align: center

    &__empty-title
        font-size: 3rem
        font-weight: 300
        color: #3F3F3F
        margin: 2rem
        text-align: center

    &__image-img
        height: 30rem
        width: 30rem

    &__subject-inputs
        display: flex
        justify-content: center
        align-items: center
        margin: 3rem 0

    &__subject-input
        padding: 1.5rem 2rem
        font-weight: 500

    &__subject-submit
        padding: 1.5rem

hr
    margin-inline: 3rem

.dashboard__subject

    &__data
        display: flex
        justify-content: space-around
        transition: all .2s
        margin-inline: 3rem
        margin-top: 2rem
        margin-bottom: 1rem
        text-align: center

        & > h3
            font-size: 2rem
            font-weight: 300
            color: #3F3F3F